body {
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Song Myung", serif;
    background-image: url(images/background.jpg);
  }

.container {
  border: 8px solid white;
  border-radius: 20px;
  text-align: center;
  background-color: rgba(247, 243, 242, 0.5);
  width: 100%; 
  max-width: 800px;
  padding: 20px;
}

.input-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
}

.input-col {
    margin-right: 10px; 
}

.button_area {
    margin-top: 20px; 
}

.button-style {
  height: 55px;
  width: 100px;
  margin-top: 5px;
  border-radius: 20px;
  font-size: 20pt;
  font-weight: bold;
  background-color: #FFBE98;
  border: 1px solid #FEECE2;
}

.button-reset {
    height: 55px;
    width: 100px;
    margin-top: 5px;
    border-radius: 20px;
    font-size: 20pt;
    font-weight: bold;
    background-color: #F7DED0;
    border: 1px solid #FEECE2;
    margin-left: 25px; 
  }


.pre-title {
  font-size: 4vw;
  font-weight: bold;
}

.title {
  font-size: 5vw;
  font-weight: bold;
  color: lightcoral;
}

.sub-title {
  font-size: 4vw;
  font-weight: bold;
}

.main-img {
  width: 32vw;
  height: 40vh;
}

.user_input {
    height: 40px;
    width: 100%;
    font-size: 1.5vw;
    margin-right: 20px;
    text-align: center;
}


@media screen and (max-width: 48rem) {
    .pre-title {
      font-size: 10vw;
    }
    .title {
      font-size: 12vw;
    }
    .sub-title {
      font-size: 11vw;
    }
    .form-control {
      font-size: 7vw;
      max-width: 500px;
      margin-right: 0px;
    }
    .main-img {
      width: 40vw;
    }
    .button-reset {
      font-size: 5vw;
      width: 80px;
      height: 60px;
    }
  }